
:root{
  --primary-color: rgb(97, 50, 97);
  --h1-color: rgb(199, 115, 149);
  --secondary-color: rgb(253, 237, 227);
}
*{
  padding: 0;
    box-sizing: border-box;
    margin: 0;
    
   
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 transition: 0.4s;
 

  
}
.label{
position:absolute;
  height: 20px;
  width: 40px;
  background-color: var(--h1-color);
  margin-top: 10px;
  border-radius: 20px;
}
.circle{
  position: absolute;
  width: 20px;
  background-color: white;
  height: 18px;
  border-radius: 50%;
  top: 1px;
  left: 3px;
  animation: toggleOff 0.4s linear forwards;
}
.toggle{
  margin-top: 25px;
}
.input{
 visibility: hidden;
}
.input:checked + .label{
  background-color: var(--secondary-color);
}
.input:checked + .label .circle{
  animation: toggleOn .4s linear forwards;
}
@keyframes toggleOn{
0%{
  transform: translateX(0);
}
100% {
  transform: translateX(10px);
}
}
@keyframes toggleOff {
  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}
.fa-light{
  display: inline;
}
#cv{
  font-weight: bold;
  padding: 8px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 15px;
}
img {
  width: 400px;
  height: 400px;
  border-radius: 5px;
  background-color: darkblue;

}
.nav-link{
  /* font-weight: bold; */
  color: palevioletred;
}
text{
  line-height: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
 
    
}

i.fa-solid.fa-mobile{
display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 15px; */
  height: 30px;
  width: 30px;
  border-radius: 40px;
 
}
i.fa-solid.fa-envelope{
display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 15px; */
  height: 30px;
  width: 30px;
  border-radius: 40px;

}
.info-p{
  margin-bottom: 5px ;
}
.email{
  margin-bottom: 30px;
}
.address{
  margin-bottom: 30px;
}

.address, .email, .call{
  display: flex;
  gap: 20px;
}
i.fa-solid.fa-location-dot{
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 15px; */
  height: 30px;
  width: 30px;
  border-radius: 40px;

  
}

input{
  margin: 15px 0;
}
#subject{
width: 100%;
}
#area{
  width: 100%;
}
.email-name{
  width: 100%;
}
#name{
  width: 50%;
}

.address:hover .icon{
  background: var(--secondary-color);
}
.email:hover .icon {
  background: var(--secondary-color);
}
.call:hover .icon {
  background: var(--secondary-color);
}

#email {
  width: 49%;
}
#social{
  /* height: 200px; */
  width: 100%;
  display: flex;
  font-size: 40px;
  padding: 50px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
footer{
  background-color: var(--secondary-color);
}
i{
  margin: 20px;
  color: var(--primary-color);
}
.text{
 
  color: var(--primary-color);
  font-weight: 600;
  font-size: 35px;
 
  
}
button{
  padding: 15px;
  border-radius: 15px;
  margin: 15px;
  border: none;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
/* .text .me.third-me:after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  color: white;
  background-color: white;
 
  border-left: black 5px solid;
  
  height: 100%;
  width: 100%;
 
  animation: animate 4s steps(12) infinite;
  overflow: hidden;
  
} */
 
/* @keyframes animate{
  
40%, 60%{
  left: 100%;
}
100%{
  left: 0%;
}

} */